.about-page {
  padding: 1rem 2rem;
}

.about-page h1,
.about-page p {
  color: var(--dark);
  margin-top: 1rem;
}

.about-page h1 {
  font-size: 2rem;
}

.about-img {
  width: 300px;
  margin: 1rem;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--accent);
  max-width: 330px;
  margin: 3rem auto;
}

.news-box {
  background: var(--accent);
  padding: 1rem 2rem;
  margin: 1rem;
}

.news-box p,
.news-box h2 {
  color: var(--light);
}

.news-box h2 {
  margin-bottom: 1rem;
}

@media(min-width: 850px) {
  .about-page {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .about-content {
    margin-right: 2rem;
  }

  .about-page h1 {
    font-size: 2.5rem;
  }
}

@media(min-width: 1000px) {
  .about-page {
    width: 80%;
  }

  .about-page h1 {
    font-size: 3rem;
  }


}

@media(min-width: 1200px) {
  .about-page {
    width: 70%;

  }
}

@media(min-width: 1300px) {
  .about-page {
    width: 60%;

  }
}

@media(min-width: 1500px) {
  .about-page {
    width: 50%;

  }
}
