
.info-card {
  background: var(--dark);
  padding: 2rem 4rem;

}


blockquote {
  margin-bottom: 1.5rem;
}
.info-card p,
.info-card li,
.info-card blockquote {
  margin-top: 1rem;
}

.info-card h3 a:hover {
  text-decoration: none;
}

.accent-card {
  border: 5px solid var(--accent);
  background: inherit;

}

.accent-card2 {
  border: 5px dashed var(--dark);
  background: inherit;
}
