.home-shopping-section {
  margin-top: 12rem;
  background: var(--dark);
  padding-bottom: 3rem;

}



.home-shopping-section h1 {
  text-align: center;
  padding: 2rem 3rem;
}



.shopping-card {
  background: var(--light);
}

.shopping-card h4 {
  margin: 1rem;
}

.card-img {
  max-width: 250px;
}
