.slide-container {
  width: 100%;

 }


.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
  max-height: 500px;

}

.each-fade .image-container img {
  width: 100%;
}

.slide-container {
  position: relative;
}

.indicators {
  position: absolute;
  top: -3rem;
  left: calc(100% / 2 - 30px);
  z-index: 1000;
}
